<html>
<script type="text/javascript" src="/static/js/jquery.js"></script> 
<script type="text/javascript" src="/static/js/playlist.js"></script>
<body>
<form action="." method="POST">
{{form}}
     <p><input type="submit" value="Enviar" ></p>
</form>
<a href="javascript:alert('a');"  > click </a>
<a href="#" id="playBut">play</a>
<a href="#" id="pauseBut">pause</a>
<a href="#" id="rewBut">anterior</a>
<a href="#" id="forwBut">proxima</a>
<div id='player'></div>
<br>
<div id='lista'>
<ul id='ullista'>

</ul>
</div>
<div id='clock'></div><br>
<div id='current'></div>
</body>
</html>
